.card {
    background-color: var(--card);
    color: var(--card-foreground);
    border-radius: var(--radius-lg);
    padding: var(--spacing-6);
}

.card-default {
    box-shadow: var(--shadow);
    border: none;
}

.card-bordered {
    border: 1px solid var(--border);
    box-shadow: none;
}
